{% extends 'barato/base.html' %}
{% load staticfiles %}
{% block content %}


    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="img">
                        <img src="{% static 'barato/images/perfume.jpg' %}" class="imagemtop" id="image" alt="">
                    </div>
                </div>
                <div class="col-md-9">
                    <h1>La Vie Est Belle</h1>
                    <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>

                </div>
            </div>
        </div>

    </div>

{% if produto_lista %}
    <div class="row">
	{% for produto in produto_lista %}

        <div class="col-sm-6 col-md-5 col-lg-3 col-xs-12 produto">
            <a href="/produto/{{ produto.nome }}/{{ produto.pk }}/"><div class="card thumbnail">
                  <img class="card-img-top imagem" src="{% static 'barato/images/' %}{{produto.imagem}}"
                       alt="{{produto.nome_long}}">
                  <div class="card-block">
                    <p class="nome_produto card-text">{{ produto.nome_long|truncatechars:43 }}</p>
                    <h4 class="preco card-title">{{ produto.preco }}<span class="moeda">MT</span></h4>
                  </div>
            </div></a>

        </div>

	{% endfor %}
    </div>

        <div class="row ">
            <div class="col-sm-4 col-md-4 center-block col-centered">
                <nav aria-label="Page navigation">
                  <ul class="pagination pagination-lg">
                      {% if produto_lista.has_previous %}
                    <li class="page-item">
                      <a class="page-link" href="?page={{ produto_lista.previous_page_number }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                      </a>
                    </li>
                      {% endif %}

                      <li class="page-item active"><a class="page-link" href="?page={{ produto_lista.number}}">{{ produto_lista.number }}</a></li>
                      {% if produto_lista.has_next  %}
                      <li class="page-item"><a class="page-link" href="?page={{ produto_lista.next_page_number }}">...</a></li>

                      <li class="page-item"><a class="page-link" href="?page={{ produto_lista.paginator.num_pages }}">{{ produto_lista.paginator.num_pages }}</a></li>
                      {% endif %}
                      {% if produto_lista.has_next %}
                    <li class="page-item">
                      <a class="page-link" href="?page={{ produto_lista.next_page_number }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                      </a>
                    </li>
                      {% endif %}
                  </ul>
                </nav>
            </div>
        </div>



{% else %}
	<p>Nao dispoe de nenhum produto cadastrado no sistema.</p>
{% endif %}

{% endblock content %}